.communication-first-container{
  background-image: url('https://www.betterup.com/hubfs/SHOT_12_MAURISSA_1327_v4x-1gg%20%281%29%204.png');
  background-size: cover;   
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.communication-first-container h1 {
  color: #fff;
  font-size: 20px;
  font-family: Sohne, Arial, sans-serif;
  margin-left: 20px;
  text-shadow: none;
  font-weight: bold;
}
.communication-first-container h2 {
  color: #fff;
  font-size: 75px;
  font-family: Ivar Headline,Times New Roman,serif;
  width: 40%;
  margin-top: 0px;
  font-weight: lighter;
}
.communication-first-container p {
  color: #fff;
  font-size: 20px;
  font-family: Sohne, Arial, sans-serif;
  width: 40%;
  margin-top: 0px;
}
.communication-first-container input {
  width: 30%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
  font-family: Sohne, Arial, sans-serif;
  margin-left: 20px;
}
.communication-first-container button {
  width: 12%;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: #ef215b;
  color: #fff;
  font-size: 18px;
  font-family: Sohne, Arial, sans-serif;
  font-weight: bold;
}


.communication-second-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.communication-second-container{
  height: 100vh;
}
.communication-second-container-text h1 {
  font-size: 50px;
  font-family: Ivar Headline, Times New Roman, serif;
  margin-bottom: 20px;
}
.communication-second-container-text p {
  font-size: 20px;
  font-family: Sohne, Arial, sans-serif;
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
}
.communication-second-container-image {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}
.communication-second-container-image-item{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20px;
  padding: 20px;
}
.communication-second-container-image-item img {
  height: 75%;
  width: 55%;
 margin-left: 15px;
}
.communication-second-container-image-item img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.communication-second-container-image-item h1{
  font-size: 35px;
  font-family: Ivar Headline, Times New Roman, serif;
  margin-left: 20px;
  text-shadow: none;
}
.communication-second-container-image-item p {
  font-size: 20px;
  font-family: Sohne, Arial, sans-serif;
}



.communication-third-container{
  background-image: url('https://www.betterup.com/hubfs/5Cs/Craft%20Elevation%20Gradient%2016_9.png');
  height: 35vh;
  background-size: cover;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.communication-third-container:hover{
  transform: scale(1.05);
}
.communication-third-container h1 {
  color: #fff;
  font-size: 28px;
  font-family: Ivar Headline, Times New Roman, serif;
  text-align: center;
  padding-top: 20px;
  width: 80%;
  text-shadow: none;
}
.communication-third-container p {
  color: #fff;
  font-size: 20px;
  font-family: Sohne, Arial, sans-serif;
  text-align: center;
}
.communication-fourth-container{
  height: 100vh;
}
.communication-fourth-container-img{
  background-image: url('https://21110076.fs1.hubspotusercontent-na1.net/hubfs/21110076/Phone%20empty.png');
  height: 600px;
  width: 290px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
}
.arrow {
  width: 50px;
  height: 50px;
  margin-top: 20%;
  margin-right: 20px;
  margin-left: 20px;
  border: solid 2px;
  padding: 10px;
  border-radius: 50px;
}
.phone-image1{
  height: 565px;
  margin-top: 15px;
}
.phone-image2{
  height: 575px;
  width: 268px;
  margin-top: 10px;
  margin-left: 12px;
  border-radius: 35px;
}
.phone-image3{
  height: 565px;
  width: 265px;
  margin-top: 11px;
  margin-left: 13px;
}