.find-coach-container {
    background-image: url('https://www.betterup.com/hubfs/Pilots%20vs%20Passengers/Secondary-Texture_Blue.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.coach-text-container{
    display: flex;
}
.coach-email-container{
    display: flex;
}
.find-coach-heading{
    font-weight: bold;
    color: #ffffff;
    font-size: 3.5rem;
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 40px;
}
.webcame-image{
    width: 50%;
    height: 85vh;
    object-fit: cover;
}
.find-coach-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
.f-p-1{
    font-size: 20px;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    margin-left: 40px;
}
.f-p-2{
    font-size: 40px;
    color: #fff;
    font-family:Bree serif;
    font-weight: 400;
    margin-left: 40px;
}
.f-p-3{
    font-size: 20px;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
    margin-left: 40px;
}

.input-email-for-coach{
    width: 60%;
    height: 50px;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
    font-size: 17px;
    margin-left: 40px;
}
.find-coach-button{
    width: 20%;
    height: 50px;
    border-radius: 2px;
    border: none;
    background-color: #960a44;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.f-p-4{
    font-size: 15px;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
    margin-left: 40px;
}
.find-coach-button:hover{
    background-color: #fa0a0a;
    color: #000;
    transition: 0.3s;
}
@media screen and (max-width: 768px) {
    .coach-text-container{
        flex-direction: column;
    }
    .find-coach-container{
        height: 100%;
    }
    .find-coach-text{
        width: 100%;
    }
    .webcame-image{
        width: 100%;
        height: 100%;
    }
    
}
@media screen and (max-width:426px){
    .find-coach-heading{
        font-size: 2rem;
    }
    .f-p-2{
        font-size: 30px;
    }
    .input-email-for-coach{
        width: 80%;
    }
    .find-coach-button{
        width: 50%;
    }
    .f-p-4{
        font-size: 12px;
    }
    .coach-email-container{
        flex-direction: column;
    }
    .find-coach-button{
        margin-left: 40px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        width: 80%;
        margin-top: 20px;
    }

}