.home-container {
    background-image: url('https://www.betterup.com/hubfs/pexels-anna-shvets-4672441.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}
.top-heading{
    font-size: 2.5rem;
    color: white;
    margin-top:10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.bottom-container{
    font-family: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    margin-left: 15px;
    font-size: 24px;
    margin-top: 2%;
    font-weight: bold;

}
h1{
    font-size: 3rem;
    color: rgba(19, 17, 17, 0.941);
    margin-top: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-left: 10px;
}
p{
    font-size: 1.2rem;
    color: rgba(19, 17, 17, 0.941);
    margin-left: 20px;
    margin-top: 2%;
}
li{
    font-size: 1.2rem;
    color: rgba(19, 17, 17, 0.941);
    margin-left: 20px;
    margin-top: 2%;
}