.navbar-header {
    background-color:transparent;
}
.header-heading{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 20px;
}
.action{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}
.action:hover{
    color: #bd0a0a;
}
.login-btn{
    margin-right: 10px;
}
.coach-btn{
    border-radius: 8px;
}
.dropdown{
    background-color: transparent;
}