.career-first-section {
  background-image: url('https://www.betterup.com/hubfs/1.%20Hero_Desktop.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}
.career-first-section h1 {
  font-size: 18px;
  color: white;
  margin-left: 20px;
} 
.career-first-section h2 {
  font-size: 50px;
  color: white;
  width: 35%;
  font-family: Ivar Headline, Times New Roman, serif;
  font-weight: 400;
  letter-spacing: .01em;
}
.career-first-section input {
  width: 40%;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-top: 20px;
}  
.career-first-section p {
  font-size: 15px;
  color: white;
  font-family: Sohne, Arial, sans-serif;
  letter-spacing: .36px;
  line-height: 142%;
  width: 40%;
}
.career-first-section button {
  background-color: #db0e6a;
  color: white;
  padding: 10px 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 18px;
}
.career-first-section button:hover {
  background-color: #005bb5;
}

.career-second-section{
    display: flex;
}
.career-second-section-text{
    width: 40%;
    padding: 40px;
}
.career-second-section-text h1{
    font-family: Ivar Headline, Times New Roman, serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.1;
    text-shadow: none;
}
.career-second-section-text p{
    font-size: 18px;
    color: #4b4b4b;
    font-family: Sohne, Arial, sans-serif;
    letter-spacing: .36px;
    line-height: 142%;
    margin-top: 30px;
}
.career-crousel-item{
    background-image: url('https://9253440.fs1.hubspotusercontent-na1.net/hubfs/9253440/dark%20gradient.png');
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 40px;
}
.career-crousel-item h1{
    font-family: Ivar Headline, Times New Roman, serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.1;
    margin-bottom: 24px;
    margin-top: 5%;
    color: #fff;
    margin-left: 15%;
}
.career-crousel-item p{
    font-family: Sohne, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    width: 60%;
    margin-left: 15%;
}
.career-third-section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: #f4f4f4;
    color: #000;
}
.career-third-section-text{
    width: 30%;
}
.career-third-section-text h1{
    font-family: Ivar Headline, Times New Roman, serif;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: .01em;
    line-height: 1.1;
    text-shadow: none;
    margin-left: 20px;
}
.career-third-section-text p{
    font-size: 18px;
    color: #4b4b4b;
    font-family: Sohne, Arial, sans-serif;
    letter-spacing: .36px;
    line-height: 142%;
    margin-top: 30px;
}
.career-fourth-section{
    background-image: url('https://9253440.fs1.hubspotusercontent-na1.net/hubfs/9253440/dark%20gradient.png');
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.career-fourth-section h1{
    font-family: Ivar Headline, Times New Roman, serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.1;
    text-shadow: none;
    color: #fff;
    margin-top: 5%;
}
.career-fourth-section p{
    font-family: Sohne, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}
.career-fourth-section button{
    background-color: #db0e6a;
    color: white;
    padding: 10px 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    margin-top: 20px;
}
.career-fourth-section button:hover {
    background-color: #005bb5;
}
.career-fourth-section input{
    width:500px ;
    padding: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .career-first-section h1 {
        font-size: 15px;
        text-align: center;
        margin-top: 50px;
    }
    .career-first-section h2 {
        font-size: 42px;
        text-align: center;
        width: 100%;
        padding-right: 35px;
    }
    .career-first-section p {
        font-size: 22px;
        text-align: center;
        width: 100%;
        padding-right: 35px;
    }
    .career-first-section input {
        width: 95%;
        margin-left: 0;
        margin-top: 20px;
        border-radius: 10px;
    }
    .career-first-section button {
        width: 95%;
        margin-left: 0;
        margin-top: 10px;
        border-radius: 10px;
    }
    .career-second-section {
        flex-direction: column;
        align-items: center;
    }
    .career-second-section-text {
        width: 90%;
        padding: 20px;
        text-align: center;
    }
    .career-crousel-item {
        margin-left: 80px;
        width: 80%;
        height: 50vh;

    }
    .career-fourth-section{
        padding: 20px;
        text-align: center;
        height: 55vh;
    }
}
@media screen and (max-width: 480px) {
    .career-first-section{
      padding-left: 0;  
    }
    .career-first-section h2 {
        font-size: 30px;
        width: 100%;
    }
    .career-first-section p {
        font-size: 13px;
        width: 100%;
    }
    .career-first-section input {
        width: 90%;
        margin-left: 15px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .career-first-section button {
        width: 90%;
        margin-left: 15px;
        margin-top: 10px;
        border-radius: 10px;
    }
    .career-second-section-text{
        width: 100%;
    }
    .career-second-section-text h1{
        font-size: 30px;
    }
    .career-second-section-text p{
        font-size: 15px;
    }
    .career-crousel-item {
        width: 90%;
        height: 80vh;
        width: 100vw;
        margin-left: 0;
    }
    .carousel-container {
        width: 100vw;
        overflow-x: auto;
    }
    .career-third-section {
        flex-direction: column;
        align-items: center;
    }
    .career-third-section-text {
        width: 100%;
        text-align: center;
    }

    .career-third-section-text h1 {
        font-size: 20px;
        text-align: center;
    }
    .career-third-section-text p {
        font-size: 15px;
        text-align: center;
    }
    .career-fourth-section h1 {
        font-size: 30px;
    }
    .career-fourth-section p {
        font-size: 15px;
    }
    .d-flex {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .career-fourth-section input {
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
    }
    .career-fourth-section button {
        width: 100%;
        margin-top: 10px;
        border-radius: 10px;
    }

}