.login-page-image{
    width: 50%;
    height: 100vh;
    object-fit: cover;
}
.login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

}
.login-heading{
    font-size: 28px;
    font-family:Bree serif;
    color: #000;
    margin-bottom: 1rem;
    margin-right: 20px;
}
.email-container{
    display: flex;
    flex-direction: column; 
    width: 70%; 
}
.label{
    font-size: 16px;
    font-weight: 600;
    color: #840b0b;
    margin-bottom: 4px;
    font-family: sans-serif;
}
.email-input{
    padding: 10px;
    border: 2px solid #660808;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #fac4c4;
    border-radius: 6px;
}
.forgot{
    font-size: 14px;
    margin-top: 4px;
    font-family: sans-serif;
    font-weight: bold;
    align-self: end;
    color: #000;
}
.login-page-btn{
    background-color: #bc1b1b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 15px;
}
.login-page-para{
    font-size: 15px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #000;
    text-align: center;
}

@media screen and (max-width:766px) {
    .login-page-image{
        display: none;
    }
    .login-container{
        width: 100%;
        padding: 20px;
        padding-top: 50px;
    }
    .email-container{
        width: 100%;
    }
    
}
